<div class="shopping-dashboard-container">
  <div class="shopping-dashboard">
    <div *ngFor="let cloth of clothes" class="card">
      <div class="card-img-container">
        <img
          [src]="cloth.imageUrl"
          *ngIf="cloth.imageUrl"
          alt="{{ cloth.name }}"
          class="card-img"
        />
      </div>
      <div class="card-content">
        <h4>RRP {{ cloth.amount | currency: 'GBP':'symbol':'1.2-2':'en-GB' }}</h4>
        <p [innerHTML]="cloth.name | highlightFirstWord"></p>
        <p>{{ cloth.size }}</p>
        <p>{{ cloth.price | currency: 'GBP':'symbol':'1.2-2':'en-GB' }}</p>
      </div>
    </div>
  </div>
</div>
